<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- replacing the name of the title with this below makes it dynamically fetch the title, here, the todo -->
    <title><%= title %></title>
</head>
<body>
    <h1>Currenty Dev Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <!-- accessing a single todo element and its id -->
            <a href="/skills/<%= s.id %>">
            <%= s.skill %>
          </a>
            - 
            <%= s.skill ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
</body>
</html>