<%- include('../partials/header') %>
    <h1>New Skill!</h1>
    <form action="/skills" method="POST" autocomplete="off">
        <input type="text" placeholder="Juggling..." name="skill">
        <button type="submit">Add Skill</button>
    </form>
    <a href="/skills">Go Back</a>
<%- include('../partials/footer') %>